
.image-wrapper{
  display:none;
}

body{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
}

header{

  width:100%;
  margin:0;

}
header img{
  display:block;
  width: 100%;
  height: 6rem;
}

.mobilehead h1{
  color:white;
  text-align: center;
  font-family: 'Quattrocento', sans-serif;
}

.mobilehead{
  background: #c0b283;
}

img{
  display: none;
}


h1{
  font-size:2.2em;
  color: white;
  padding: 10px;
  padding-left: 10px;
  margin: 0;
  text-align: center;
  justify-content: center;
  font-family: 'Trirong', serif;
  font-weight: lighter;
}


.menu-trigger {
  order: 1;
  font-size: 1.5em;
  width: 100%;
  padding-bottom: 2px;
  color: white;
  border-bottom: 1px solid white;

}



.menu-trigger:after {
  font-family: 'Lato', sans-serif;
  color: white;

  content: "MENU";
  font-size: .9em;


}

.sub-1{
	display: none;
	text-align:left;
	text-decoration: none;
	list-style-type: none;

  font-size: .8em;
  border: none;
  /*margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;*/

}

.sub-1 a{
  color: #c0b283;

}

.sub-1 a:hover{
  color: white;
  background-color: #c0b283;

}





.parents, .parents-1, .parents-2, .parents-3, .parents-4, .parents-5 {

	display: block;
	/*border-right: 1px solid #84754E;*/

	text-align: left;
	list-style-type: none;
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  /*
  margin-bottom: 10px;
width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid white;
  padding-right: 20px;
  margin-left: 0; */

}

/*

.parents-5{
  border: none;
}


.parents a{
  color: white;

}


.parents-1 a{
  color: white;
}

.parents-2 a{
  color: white;
}

.parents-3 a{
  color: white;
}

.parents-4 a{
  color: white;
}

.parents-5 a{
  color: white;
  width: 100%;
} */

nav a {
    color: white;
    background-color: #373737;
    display: block;
    text-decoration: none;
    padding-left: 25px;
    width:100%;
    margin-left: 0;

}

nav {
  background-color: orange;
  padding: 0;
  margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    text-align: left;

    border-bottom: 1px solid white;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    width: 100%
}

li a{
  background-color: #373737;
  padding-top: 8px;
  padding-bottom: 8px;

}

li a:hover{
  background-color: #c0b283;
}

/*
nav{
  color: white;
  background-color: #373737;
  margin: 0;
}

nav a:hover{
  color:#c0b283;

} */



.mainnav{
  display:none;
}



@media all and (min-width: 700px){


 .menu-trigger {
   display: none;
 }

.mainnav{
  display: flex;
}

/*
  .mainnav{
      display: flex;
      flex-flow: row nonwrap;
      justify-content: flex-start;

      color: white;
      margin-top: 0;
      padding-top: 5px;
      padding-bottom: none;


    }
    */

    .sub-1{

    	margin-left: 0px;


    }



    .parents, .parents-1, .parents-2, .parents-3, .parents-4, .parents-5 {

    	border-bottom: none;
      margin-bottom: 1px;
      font-size: 1em;
    flex-basis: auto;
    }

    nav a{
      background-color: #373737;
    }



    /*

    nav a {
        color: white;
        background-color: #373737;

      }



      li {
          text-align: center;
          ;
          border-bottom: none;
          font-family: 'Lato', sans-serif;
          font-size: 1.2em;
          width: 50%;

      }

      li a{
        padding-top: 5px;
        padding-bottom: 7px;
        padding-left: 0;
        padding-right: 0;
      }



    /*

    .mainnav li{
      border: none;

padding-bottom: 4px;
padding-top: 4px;
      background: #373737;
      color: white;


    }

    .mainnav a{
      color: white;
      background: #373737;
      width: 100%;

    }

.mainnav li:hover{
  background:#dcd0c0;
  color: #373737;

}

    .mainnav a:hover {
      background:#dcd0c0;
      color: #373737;

    }  */



  header{

    width:100%;
    margin:0;

  }
  header img{
    display:block;
    width: 100%;
    height: auto;
  }

/*.menu-trigger {display: none; }*/

.header{
  display: block;
  background: #c0b283;
}
/*
.mainnav{
  list-style-type: none;
  font-size:.9em;
  line-height:2em;
  padding:0;
  text-align:center;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

}



.mainnav li{
  /*display:none;
  border-top:1px solid black;
  border-bottom:1px solid black;
  background: #373737;
  font-family: 'Quattrocento', sans-serif;
}

.mainnav a{
  text-decoration: none;
  color: white;

}

nav ul li {
    display: block;

}

nav a {
    color: #c0b283;
    display: block;
    text-decoration: none;
}
*/

}/*end min-wide 600px*/

@media all and (min-width:800px){



.mobilehead{
  display:none;
}
    .image-wrapper {
      display: block;
        position: relative;
        width: 100%;

    }
    .image-wrapper h1 {
        position: absolute;
        text-align: center;
font-family: 'Quattrocento', sans-serif;
        top: 50px;
        padding: 10px;
        font-size: 35px;

        width: 100%;
        color: white;
        margin: 5px;

}
}

  @media all and (min-width:1140px) {

    header {
      display: block;
      width: 1026px;
      margin: 0 auto;

    }

    body {
      width: 1026px;
      margin: 0 auto;
    }

.mobilehead{
  display:none;
}
    .image-wrapper {
      display: block;
        position: relative;
        width: 100%;

    }
    .image-wrapper h1 {
        position: absolute;
        text-align: center;
font-family: 'Quattrocento', sans-serif;
        top: 50px;
        padding: 10px;
        font-size: 35px;

        width: 100%;
        color: white;
        margin: 5px;

}


}/*end min-width 1140px*/
