
.image-wrapper{
  display:none;
}

body{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
}

header{

  width:100%;
  margin:0;

}
header img{
  display:block;
  width: 100%;
  height: 6rem;
}

.mobilehead h1{
  color:white;
  text-align: center;
  font-family: 'Quattrocento', sans-serif;
}

.mobilehead{
  background: #c0b283;
}

img{
  display: none;
}


h1{
  font-size:2.2em;
  color: white;
  padding: 10px;
  padding-left: 10px;
  margin: 0;
  text-align: center;
  justify-content: center;
  font-family: 'Trirong', serif;
  font-weight: lighter;
}


.menu-trigger {
  order: 1;
  font-size: 1.5em;
  width: 100%;
  padding-bottom: 2px;

}

.menu-trigger{
  background: #373737;
}

.menu-trigger:after {
  font-family: 'Quattrocento', sans-serif;
  color: white;
  background-color: #373737;
  content: "MENU";
  font-size: .8em;
  padding: 3px;
}

.about-trigger {


  width: 100%;


}

.about-trigger{
  background: #373737;
}

.about-trigger:after {
  font-family: 'Quattrocento', sans-serif;
  color: white;
  background-color: #373737;
  content: "About";
  font-size: .8em;
  padding: 3px;
}


nav a {
    color: white;
    background-color: #dcd0c0;
    display: block;
    text-decoration: none;
    padding-left: 25px;
    width:100%;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    text-align: left;
    border-bottom: 2px solid white;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    width: 100%;
}

.mainnav a{
  color: #373737;
  padding-top: 4px;
  padding-bottom: 4px;
}

.mainnav a:hover{
  background-color: purple;
}









.mainnav{
  display:none;
}

@media all and (min-width: 600px){

/*

  nav ul{
      display:none;
    }

    nav ul li{
      border-top:none;
    }
 */
.menu-trigger {
  display: none;
}


/*
nav a{
  padding:0;
}  */

  .mainnav{
      display: flex;
      flex-flow: row nonwrap;
      justify-content: space-around;;

      color: white;
      padding: none;


    }

    nav a {
        color: white;
        background-color: #373737;

      }

      .dropdown a{
        color: white;
        padding: none;
      }

      li {
          text-align: center;
          ;
          border-bottom: none;
          font-family: 'Lato', sans-serif;
          font-size: 1.2em;
          width: 50%;

      }

      li a{
        padding-top: 5px;
        padding-bottom: 7px;
        padding-left: 0;
        padding-right: 0;
      }

      .dropdown a{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0;
        padding-right: 0;

      }

      .dropdown-content a:hover {
        background-color: white;
        color: #373737;
      }


    /*

    .mainnav li{
      border: none;

padding-bottom: 4px;
padding-top: 4px;
      background: #373737;
      color: white;


    }

    .mainnav a{
      color: white;
      background: #373737;
      width: 100%;

    }

.mainnav li:hover{
  background:#dcd0c0;
  color: #373737;

}

    .mainnav a:hover {
      background:#dcd0c0;
      color: #373737;

    }  */



  header{

    width:100%;
    margin:0;

  }
  header img{
    display:block;
    width: 100%;
    height: auto;
  }

/*.menu-trigger {display: none; }*/

.header{
  display: block;
  background: #c0b283;
}
/*
.mainnav{
  list-style-type: none;
  font-size:.9em;
  line-height:2em;
  padding:0;
  text-align:center;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

}



.mainnav li{
  /*display:none;
  border-top:1px solid black;
  border-bottom:1px solid black;
  background: #373737;
  font-family: 'Quattrocento', sans-serif;
}

.mainnav a{
  text-decoration: none;
  color: white;

}

nav ul li {
    display: block;

}

nav a {
    color: #c0b283;
    display: block;
    text-decoration: none;
}
*/

}/*end min-wide 600px*/

@media all and (min-width:800px){



.mobilehead{
  display:none;
}
    .image-wrapper {
      display: block;
        position: relative;
        width: 100%;

    }
    .image-wrapper h1 {
        position: absolute;
        text-align: center;
font-family: 'Quattrocento', sans-serif;
        top: 50px;
        padding: 10px;
        font-size: 35px;

        width: 100%;
        color: white;
        margin: 5px;

}
}

  @media all and (min-width:1140px) {

    header {
      display: block;
      width: 1026px;
      margin: 0 auto;

    }

    body {
      width: 1026px;
      margin: 0 auto;
    }

.mobilehead{
  display:none;
}
    .image-wrapper {
      display: block;
        position: relative;
        width: 100%;

    }
    .image-wrapper h1 {
        position: absolute;
        text-align: center;
font-family: 'Quattrocento', sans-serif;
        top: 50px;
        padding: 10px;
        font-size: 35px;

        width: 100%;
        color: white;
        margin: 5px;

}


}/*end min-width 1140px*/
