body {
	margin: auto 30px;
}

.menu-trigger {
	display: none;
}


.mainnav{
	order: 2;
	display: flex;
	flex-flow: row;
	flex: 3 auto;
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
	height: auto;
	list-style: none;
	margin-top: 50px;
	margin-bottom: 30px;
	justify-content: space-around;
}


.sub-1, .sub-2, .sub-3, .sub-4 {
	display: none;
	text-align:center;
	text-decoration: none;
	margin:0px;
	padding:5px 0px;
	border-bottom: 1px solid #84754E;
	list-style-type: none;

}

.sub-1, .sub-2, .sub-3, .sub-4 a {
	font-size: 0.9em;
	font-weight: normal;

}

.parents, .parents-1, .parents-2, .parents-3, .parents-4, .parents-5 {

	display: block;
	/*border-right: 1px solid #84754E;*/
	width: 100px;
	text-align: center;
	list-style-type: none;
}

.mainnav a:link, .mainnav a:visited{
	font-family:"Proxima Nova", Helvetica, sans-serif;
	text-decoration: none;
	color:#000000;
}

.mainnav a:hover, .mainnav a:active{
	font-family:"Proxima Nova", Helvetica, sans-serif;
	color: #84754E;
	text-decoration: none;
}

.homemain {
	display: flex;
	flex-flow: row-reverse;
	margin-top: 20px;
}

.mainnav ul {
	padding: 0px;
	margin:0px;
}
