
p {
  color:#000000;
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  margin: 10px 0 0;
}

h1{
  color: #000000;
  font-family:'Open Sans', sans-serif;
  font-weight: lighter;
  color: #242075;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 50px;

}

h2{
  color: #000000;
  font-family:'Open Sans', sans-serif;
  font-weight: 600;
  color: #242075;
  font-size: 2.5rem;
  text-align: center;
}


body{
  margin: 50px 0 0;
  background-color:#fff;
}


#mission{
max-width: 100%;
height: auto;
}

#abouttree{
align: left;
margin: 0 0 10px 10px;
display: block;
margin: auto;

}


#founderone{

  margin: 0 0 10px 10px;
  display: block;
  margin: auto;


}

#foundertwo{
margin: 0 0 10px 10px;
display: block;
margin: auto;

}

.button {
  background-color: #242075;
  color: #FFF;
  float: center;
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 50px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
}


.button a:link, a:visited {
  color: #FFF;
  background-color: #242075;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
 }
.button a:hover, a:active {
   background-color: #BFBCAE;
 }
#container{
  width:95%;
  background-color:white;
  margin:0 auto;
}

.nav {
  padding:0;
}

.nav li {
  list-style-type: none;
  /*float: left;*/
  margin: 10px;
  padding: 10px;
background-color: #242075;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
}

.nav a:link, a:visited {
  color: #FFF;
  background-color: #242075;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
}

 .nav a:hover, a:active {
   background-color: #BFBCAE;
   width: 100%;
   font-weight: bold;
 }

 .footer {
   font-family:'Crimson Text', serif;
   font-size: 1rem;
   background-color: #252075;
   color: white;
   padding:10px

 .active {
    background-color: #4CAF50;
  }
}

ul {
    top: 0;
    width: 100%;
}

.contactform {
  display:flex;
  background-color: gray;
}
