
.image-wrapper{
  display:none;
}

body{
  margin:0;
  padding:0;
}

p{
  font-family: 'crimson text', serif;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.2em;
}

.smallthanks p{
  font-size: .8em;

}

a{
  text-decoration: none;
}

header{

  width:100%;
  margin:0;

}
header img{
  display:block;
  width: 100%;
  height: 6rem;
}

.mobilehead h1{
  color:white;
  text-align: center;
  font-family: 'Quattrocento', sans-serif;
}

.mobilehead{
  background: #c0b283;
}

h1{
  font-size:2.2em;
  color: white;
  padding: 10px;
  padding-left: 10px;
  margin: 0;
  text-align: center;
  justify-content: center;
  font-family: 'Trirong', serif;
  font-weight: lighter;
}

.readblog h1{
  color: black;
}

.docmail a{
  text-decoration: underline;
  color: black;
}



}
.wrapperindex {
  margin: 0 20px;
}

.topsearch{
  background: #fff;
  display:block;
  padding: 5px;
  flex-direction:row-reverse;
  float: right;

}



.tab-group{
  display: flex;
  flex-flow:column;
  background:  #dcd0c0;

}

.tab label{
  background: #dcd0c0;
  color: #373737;
  display:block;
  font-weight: bold;
  padding-left: .5em;
  margin-bottom: .5em;
  text-align: center;
  font-family: 'Quattrocento', sans-serif;
}

.tab a{
  background: #dcd0c0;
  color: #373737;
  display:block;
  font-weight: bold;
  padding-left: .5em;
  margin-bottom: .5em;
  text-align: center;
  font-family: 'Quattrocento', sans-serif;
}

.tab input:focus + label, .tab label:checked{
  background:#dcd0c0;
}

.tab input{
  display:none;
}

.tab-content{
  height:0px;
  overflow: hidden;
  transition: height .35s ease-in-out;
}

.tab input:checked ~ .tab-content{
  height:9em;
}

.subnav{
  list-style: none;
  text-align: center;
  padding:0px;
}

.studentmail a{
  color: #a76b29;
}

.tab-content a{
  background:#dcd0c0;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  display:block;
  text-align: center;
  color: #373737;
  padding: 10px;
}

.tab-content li{
  border-top:1px solid black;
  border-bottom:1px solid black;
  background:#dcd0c0;
font-family: 'Quattrocento', sans-serif;

}


h2{
  border-bottom:2px solid #373737;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.6em;
  margin: 10px;
  padding-top: 10px;
  color:black;

}



.footer{

  color: #373737;
  border-top: 1px solid #373737;
text-align: right;
  margin-top: 40px;
  padding: 3px;

}

img{
  display: none;
}

/*.resourcewrapper h2{
  border:none;
  text-align: left;
}

.resourcelinks a:hover{
  background: brown;
}


.resource2{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}*/

.wrapperabout h2{
  text-align: center;
  background: white;
  color:#373737;
  font-family: "Lato", sans-serif;
  border: none;
  width: 100%;
  font-size: 2em;
}

.resourceheader h2{
  text-align: center;
  background: white;
  color:#373737;
  font-family: "Lato", sans-serif;
  border: none;
  width: 100%;
  font-size: 2em;
  padding-bottom: 3px;
}

  h3{
    border-bottom:2px solid #373737;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    margin: 10px;
    padding-top: 10px;
    color:black;
  }

  h4{
      font-family: 'Quattrocento', serif;
      font-weight: bold;
      margin-left: 30px;
  }

  h5{
    font-family: 'Quattrocento', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin: 10px;
    padding-top: 10px;
    color:black;
  }

  h5 a{
    color:
  }

  .summary1 h2:hover{
    background: #dcd0c0;

  }

  .summary2 h2:hover{
    background: #dcd0c0;

  }

  .summary3 h3:hover{
    background: #dcd0c0;
  }

  .linkssummary3 a{
    color: black;
    text-decoration: underline;
  }

  .linkssummary3 a:hover{
    background: #dcd0c0;
  }



.boards a{
  color: black;

}

.boards h4:hover{
  background: #dcd0c0;
}

.directors h4:hover{
  background: #dcd0c0;
}

.aff-1 h4:hover {
  background: white;
 color: #c0b283;
  }

  .aff-2 h4:hover {
    background: white;
   color: #c0b283;
    }


.blog-post {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

.contact-form {
  display: flex;
  flex-flow: column wrap;
}

.contactlinks a:visited {
  color: #a76b29;
  text-decoration: underline;
}

.contactlinks a:link {
    color: #a76b29;
    text-decoration: underline;
}

.read-blog {
  display: flex;
  flex-flow: row wrap;
}

.aboutdirectors {
  display: flex;
  flex-flow: column;
}
/*nav ul{
    display:none;
  }

<<<<<<< HEAD
  nav ul li{
    border-top:none;
  }
}*/

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'read less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  color: #666;
  font-size: .9em;
  font-style: italic;
  font-weight: bold;
  line-height: 2;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
  background: #c0b283;
  color: white;
}

.foundernames {
  padding-left: 20px;
}

.aboutfounders img{
  display: block;
  margin: 10px;
}

.founder1 img{
  width: 165;
  height:170;
  padding-top: 20px;
  padding-left: 20px;
}

.founder2 img{
  width: 165;
  height:170;
  padding-top: 20px;
  padding-left: 20px;
}

.documentdatabase h3{
  text-align: center;
  background: #c0b283;
  color:white;

  padding-bottom: 10px;
  font-family: "Lato", sans-serif;
  border: none;
  /*
  margin-right: 60px;
  margin-left: 60px;
  font-size: 1.5rem;
  background: #c0b283;
  color:white;
  border: none;
  padding-bottom: 20px;
  padding-top: 20px;
  */
}


.documentdatabase h3:hover {
  color: #c0b283;
  background: white;
}

.documentdatabase a{
  text-decoration: none;
}

/*

.resourcewrapper h3 {
text-align: center;

  padding: .6rem;
  margin: .2rem;
  margin-left: 4rem;;
  margin-right: 4rem;

  font-size: 1rem;

  color: white;
  background-color: #c0b283;
}

.resourcewrapper-1 h3 {
  text-align: center;
  /*
  padding: .6rem;
  margin: .2rem;
  margin-left: 4rem;;
  margin-right: 4rem;

  font-size: 1rem;
  color: white;
  background-color: #c0b283; */
}


.resourcewrapper h3:hover{

  background-color: white;
  color: #c0b283;
}

.resourcewrapper-1 h3:hover{
  background-color: white;
  color: #c0b283;
}


.aff-1 h4{
  color: #c0b283;
  font-size: 1.1rem;
}

.aff-2 h4{
  color: #c0b283;
  font-size: 1.1rem;
}


.getinvolvedtitles h2{
  text-align: center;
  background: white;
  color:#373737;
  font-family: "Lato", sans-serif;
  border: none;
  width: 100%;
  font-size: 2em;
  border: none;
  padding-bottom: 20px;

}

.readblog a {
  color: #a76b29;
  text-decoration: none;
}

.story a {
color: #a76b29;
text-decoration: none;
}



.blogpostone textarea{
  width: 100%;
  background: #dcd0c0;
  border: 1px solid black;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
}

.blogpostone label{
  font-family: 'Quattrocento', serif;
}

.blogpostone input{

  font-family: "Lato", sans-serif;

}

.blogpostone p{
  font-family: 'Quattrocento', serif;
}

.blogpostone button{
  cursor: pointer;
  display: inline-block;
  color: #666;
  font-size: .9em;
  font-style: italic;
  font-weight: bold;
  line-height: 2;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
  background: #c0b283;
  color: white;
  font-family: 'Quattrocento', serif;
}


.aboutuniversity {
  display: block;

}



.school a{
  color:#a76b29;
}


.videocontainer{
  display:flex;
  flex-flow: column;
  justify-content: center;
  max-width: 600px;

}

.videowrapper{
  position: relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;


}

.videowrapper iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.blogframe{
  display: block;
  align: center;
  position: relative;
  padding-bottom:56.25%;

  padding-top:30px;
  height:0;
  overflow:hidden;


}

.blogframe iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}



.cheesebox h3{
  border: none;

  padding-bottom: 8px;
  margin-left:1em;
  margin-right: 1em;
  padding-left: 1em;

}

.cheesedatabase a{
  color:blue;
}

.menu-trigger {
  order: 1;
  font-size: 1.5em;
  width: 100%;
  padding-bottom: 2px;
  color: white;
  border-bottom: 1px solid white;

}



.menu-trigger:after {
  font-family: 'Lato', sans-serif;
  color: white;

  content: "MENU";
  font-size: .9em;


}

.sub-1{
	display: none;
	text-align:left;
	text-decoration: none;
	list-style-type: none;

  font-size: .8em;
  border: none;
  /*margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;*/

}

.sub-1 a{
  color: #c0b283;

}

.sub-1 a:hover{
  color: white;
  background-color: #c0b283;

}





.parents, .parents-1, .parents-2, .parents-3, .parents-4, .parents-5 {

	display: block;
	/*border-right: 1px solid #84754E;*/

	text-align: left;
	list-style-type: none;
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  /*
  margin-bottom: 10px;
width: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid white;
  padding-right: 20px;
  margin-left: 0; */

}

/*

.parents-5{
  border: none;
}


.parents a{
  color: white;

}


.parents-1 a{
  color: white;
}

.parents-2 a{
  color: white;
}

.parents-3 a{
  color: white;
}

.parents-4 a{
  color: white;
}

.parents-5 a{
  color: white;
  width: 100%;
} */

nav a {
    color: white;
    background-color: #373737;
    display: block;
    text-decoration: none;
    padding-left: 25px;
    width:100%;
    margin-left: 0;

}

nav {
  background-color: white;
  padding: 0;
  margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    text-align: left;

    border-bottom: 1px solid white;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    width: 100%
}

li a{
  background-color: #373737;
  padding-top: 8px;
  padding-bottom: 8px;

}

li a:hover{
  background-color: #c0b283;
}

/*
nav{
  color: white;
  background-color: #373737;
  margin: 0;
}

nav a:hover{
  color:#c0b283;

} */



.mainnav{
  display:none;
}






@media all and (min-width: 600px){


  .menu-trigger {
    display: none;
  }


  .mainnav{
   display: flex;
   justify-content: center;
   background-color: #373737;
  }

  .parents, .parents-1, .parents-2, .parents-3, .parents-4, .parents-5 {
   font-size: 1em;

  }






     nav a{
       padding: 0;
     }

     li a{
       background-color: #373737;
       padding-top: 8px;
       padding-bottom: 8px;
       text-align: center;

     }

     li a:hover{
       background-color: #c0b283;
     }



  .parents-1 li a{
   background-color: #373737;
   text-align: center;
  }



.videocontainer{
  display: block;
margin:auto;
}


.blogframe{
  max-width: 599px;
  display: block;
margin:auto;
}

/*
  .aboutuniversity img {
    display: none;
  }

  .aboutuniversity {
    display: block;
    margin: auto;
    width: 100%;
    justify-content: center;
  }

  .logo img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
  } */

  .logo {
    display: block;
    text-align: center;
    padding-bottom: 2em;


  }

.centertext p{
  display: block;
  text-align: center;
}

  .logo img{
    display: block;
    margin: auto;
  }


  .logo-1 img {
    width: 185px;
    height: auto;
  }

  .logo-2 img {
    width: 185px;
    height: auto;
  }

  .logo-3 img {
    width: 185px;
    height: auto;
  }

  .logo-4 img {
    width: 185px;
    height: auto;
  }
  .logo-5 img {
    width: 185px;
    height: auto;
  }
  .logo-6 img {
    width: 185px;
    height: auto;
  }
  .logo-7 img {
    width: 185px;
    height: auto;
  }
  .logo-8 img {
    width: 185px;
    height: auto;
  }
  .logo-9 img {
    width: 185px;
    height: auto;
  }
  .logo-10 img {
    width: 185px;
    height: auto;
  }
  .logo-11 img {
    width: 185px;
    height: auto;
  }
  .logo-12 img {
    width: 185px;
    height: auto;
  }
  .logo-13 img {
    width: 185px;
    height: auto;
  }
  .logo-14 img {
    width: 185px;
    height: auto;
  }

  .aff-1 h4{
    color: black;
    font-size: 1.1rem;
  }

  .aff-2 h4{
    color: black;
    font-size: 1.1rem;
  }

  header{

    width:100%;
    margin:0;

  }
  header img{
    display:block;
    width: 100%;
    height: auto;
  }

/*.menu-trigger {display: none; }*/
.aboutdirectors img {
  display: none;
}


.links p{
  font-family: "Lato", sans-serif;
  color: #373737;

}
.links a{
  font-family: "Lato", sans-serif;
  color: #373737;

}

.groups a{
  font-family: "Lato", sans-serif;
  color: #373737;

}

.groups a:hover{
  font-family: "Lato", sans-serif;
  color: #373737;
background: #dcd0c0;
}

.header{
  display: block;
  background: #c0b283;
}



    .tab-group{
        display:flex;
        flex-flow: row;
        justify-content: space-around;
        background: #dcd0c0;
      }

      .tab label{
        padding: 0 20px;
      }

      .tab label:hover ~ .tab-content{
        height:12em;
      }


.story{
  display: flex;
  flex-flow: row;
}

.wrapperindex{
  display:flex;
}

.storymissionstatement img{
  display: flex;
  width: 140;
  height: 150;
  margin-top: 60px;
  margin-left: 30px
}

.storygetinvolved img{
  display: flex;
  width: 140;
  height: 150;
  margin-top: 60px;
  margin-left: 30px
}

.storywhatis img{
  display: flex;
  width: 140;
  height: 140;
  margin-top: 80px;
  margin-left: 30px
}

.storyfounders{
  display:flex;

}

.aboutfounders img{
  display: block;
  margin: 10px;
}

.founder1 img{
  width: 165;
  height:170;
  float: left;
  padding-top: 20px;
}

.founder2 img{
  width: 165;
  height:170;
  float: left;
  padding-top: 20px;
}

.founder1{
  display:flex;

}

.founder2{
  display:flex;
}


.aboutdirectors {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.directors img {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 10px;
}

.directors {
  margin: 15px;
  width: 30%;
}

.director-2 img {
  width: 185px;
  height: auto;
}

.director-3 img {
  width: 185px;
  height: auto;
}

.director-6 img {
  width: 185px;
  height: auto;
}

.director-8 img {
  width: 185px;
  height: auto;
}

.advisor-1 img {
  width: 185px;
  height: auto;
}

.advisor-2 img {
  width: 185px;
  height: auto;
}

.advisor-3 img {
  width: 185px;
  height: auto;
}

.advisor-4 img {
  width: 185px;
  height: auto;
}

.advisor-5 img {
  width: 185px;
  height: auto;
}

.advisor-6 img {
  width: 185px;
  height: auto;
}

.advisor-7 img {
  width: 185px;
  height: auto;
}

.advisor-8 img {
  width: 185px;
  height: auto;
}

.advisor-9 img {
  width: 185px;
  height: auto;
}

.aff-1 img {
  width: 200px;
  height: auto;
}

.aff-2 img {
  width: 220px;
  height: auto;
}

.aff-1 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.aff-2 {
  margin-left: 4rem;
  margin-right: 4rem;
}


h4 {
  margin: 0;
}
/*

.mainnav{
  list-style-type: none;
  font-size:.9em;
  line-height:2em;
  padding:0;
  text-align:center;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

}



.mainnav li{
  /*display:none;
  border-top:1px solid black;
  border-bottom:1px solid black;
  background: #373737;
  font-family: 'Quattrocento', sans-serif;
}

.mainnav a{
  text-decoration: none;
  color: white;

}

nav ul li {
    display: block;

}

nav a {
    color: #c0b283;
    display: block;
    text-decoration: none;
}
*/
.story img {
  width: 70;
  height: 70;
}


.resourcewrapper{
  display: flex;
  flex-flow: row nonwrap;
  justify-content: space-around;
}

.resourcewrapper-1{
  display: flex;
  flex-flow: row nonwrap;
  justify-content: center;


}

.doc-1{



}

.doc-2{


}








.resourcewrapper h3 {
text-align: center;
  /*
  padding: .6rem;
  margin: .2rem;
  margin-left: 4rem;;
  margin-right: 4rem;
  color: white;
  font-size: 1rem;

  background-color: #c0b283;*/
}



.resourcewrapper-1 h3 {
    color: white;
text-align: center;

  /*
  padding: .6rem;
  margin: .2rem;
  margin-left: 4rem;;
  margin-right: 4rem;
  text-align: center;
  font-size: 1rem;

  color: white;
  background-color: #c0b283; */
}

/*
.resourcewrapper h3:hover{
  background-color: white;
  color: #c0b283;
}


.resourcewrapper-1 h3:hover{
  background-color: white;
  color: #c0b283;
} */


.documentdatabase h3{
  text-align: center;
  /*
  background: #c0b283;
  color:white;
  */
  font-family: "Lato", sans-serif;
  /*
  border: none;
margin-right: 60px;
margin-left: 60px;
  font-size: 2rem;
  border: none;
  padding-bottom: 20px;
  padding-top: 20px; */
}

.resourcewrapper h3 {
  text-align: center;
  /*
  padding: .6rem;
  margin: .2rem;

  font-size: 1.8rem;

  color: white;
  background-color: #c0b283; */
}

.resourcewrapper-1 h3 {
    text-align: center;
    /*
  padding: .6rem;
  margin: .2rem;

  font-size: 1.8rem;

  color: white;
  background-color: #c0b283; */
}


.doc-3 h3{
  background:#736a4e;

}

.doc-4 h3{
  background:#736a4e;
}

.doc-5 h3{
  background:#736a4e;
}

.doc-6 h3{
  background:#736a4e;
}

.resource10{
  width: 200px;
}

.resource9{
  width: 200px;
}
.resource8{
  width: 200px;
}
.resource7{
  width: 200px;
}

.resource6{
  width: 250px;
}

.resource5{
  width: 250px;
}

.resource4{
  width: 250px;
}

.resource3{
  width: 250px;
}

.resource2{
  width: 400px;
}
.resource1{
  width: 400px;
}

.swirls img{
  display: block;
  width: 10rem;
  height: 10rem;
  padding: 10px;
}

.swirlsbox{
  display:flex;
  flex-flow: row nonwrap;
  justify-content: space-around;
}







}/*end min-wide 600px*/

@media all and (min-width:800px){

  .body {
    width: 900px;
    margin: 0 auto;
  }



  .school{
    margin-left: 1em;
    margin-right: 1em;
  }
.mobilehead{
  display:none;
}



.image-wrapper {
  display: block;
    position: relative;
    width: 100%;

}
.image-wrapper h1 {
    position: absolute;
    text-align: center;
font-family: 'Quattrocento', sans-serif;
    top: 50px;
    padding: 10px;
    font-size: 35px;

    width: 100%;
    color: white;
    margin: 5px;

}
}


  @media all and (min-width:1140px) {

    header {
      display: block;
      width: 1026px;
      margin: 0 auto;

    }
    body {
      width: 1026px;
      margin: 0 auto;
    }



.mobilehead{
  display:none;
}
    .image-wrapper {
      display: block;
        position: relative;
        width: 100%;

    }
    .image-wrapper h1 {
        position: absolute;
        text-align: center;
font-family: 'Quattrocento', sans-serif;
        top: 50px;
        padding: 10px;
        font-size: 35px;

        width: 100%;
        color: white;
        margin: 5px;

}


}/*end min-width 1140px*/
