body{
  margin:0;
  padding:0;
}

p{
  font-family: 'crimson text', serif;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.2em;
}

header{
  background: #c0b283;
  width:100%;
  margin:0;
  padding:10px;
}


h1{
  font-size:2.2em;
  color: white;
  padding: 10px;
  padding-left: 10px;
  margin: 0;
  color:white;
  text-align: center;
  justify-content: center;
  font-family: 'Trirong', serif;
  font-weight: lighter;
}



a{
  text-decoration: none;
}

.wrapperindex {
  margin: 0 20px;
}

.topsearch{
  background: #c0b283;
  padding: 5px;
  display:block;
  flex-direction:row-reverse;
  float: right;

}

.mainnav{
  list-style-type: none;
  display: block;
  font-size:.9em;
  line-height:2em;
  padding:0;
  text-align:center;
  display: flex;
  flex-flow:column wrap;

}

.mainnav li{
  /*display:none;*/
  border-top:1px solid black;
  border-bottom:1px solid black;
  background: #373737;
  font-family: 'Quattrocento', sans-serif;


}
.mainnav a{
  text-decoration: none;
  color: white;

}


.tab-group{
  display: flex;
  flex-flow:column;
  background:  #dcd0c0;

}

.tab label{
  background: #dcd0c0;
  color: #373737;
  display:block;
  font-weight: bold;
  padding-left: .5em;
  margin-bottom: .5em;
  text-align: center;
  font-family: 'Quattrocento', sans-serif;
}

.tab a{
  background: #dcd0c0;
  color: #373737;
  display:block;
  font-weight: bold;
  padding-left: .5em;
  margin-bottom: .5em;
  text-align: center;
  font-family: 'Quattrocento', sans-serif;
}

.tab input:focus + label, .tab label:checked{
  background:#dcd0c0;
}

.tab input{
  display:none;
}

.tab-content{
  height:0px;
  overflow: hidden;
  transition: height .35s ease-in-out;
}

.tab input:checked ~ .tab-content{
  height:9em;
}

.subnav{
  list-style: none;
  text-align: center;
  padding:0px;
}

.tab-content a{
  background:#dcd0c0;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  display:block;
  text-align: center;
  color: #373737;
  padding: 10px;
}

.tab-content li{
  border-top:1px solid black;
  border-bottom:1px solid black;
  background:#dcd0c0;
font-family: 'Quattrocento', sans-serif;

}


h2{
  border-bottom:2px solid #373737;
  font-family: 'Quattrocento', sans-serif;
  font-weight: bold;
  font-size: 1.6em;
  margin: 10px;
  padding-top: 10px;
  color:black;

}



.footer{
  background-color: #373737;
  color: white;
  border-top: none;
  margin-left: 10px;
  margin-top: 40px;
  padding: 3px;

}

img{
  display: none;
}

.wrapperabout h2{
  text-align: center;
  background: white;
  color:#373737;
  font-family: "Lato", sans-serif;
  border: none;
  width: 100%;
  font-size: 2em;
}

  h3{
    border-bottom:2px solid #373737;
    font-family: 'Quattrocento', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    margin: 10px;
    padding-top: 10px;
    color:black;
  }

  h4{
      font-family: 'Quattrocento', serif;
      font-weight: bold;
      margin-left: 30px;
  }

  h5{
    font-family: 'Quattrocento', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin: 10px;
    padding-top: 10px;
    color:black;
  }

  .summary1 h2:hover{
    background: #dcd0c0;

  }

  .summary2 h2:hover{
    background: #dcd0c0;

  }

  .summary3 h3:hover{
    background: #dcd0c0;
  }

.boards a{
  color: black;

}

.boards h4:hover{
  background: #dcd0c0;
}

.blog-post {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

.contact-form {
  display: flex;
  flex-flow: column wrap;
}

.read-blog {
  display: flex;
  flex-flow: row wrap;
}

.aboutdirectors {
  display: flex;
  flex-flow: column;
}
/*nav ul{
    display:none;
  }

<<<<<<< HEAD
  nav ul li{
    border-top:none;
  }
}*/

@media all and (min-width:600px){

/*.menu-trigger {display: none; }*/
.aboutdirectors img {
  display: none;
}

.getinvolvedtitles h2{
  text-align: center;
  background: white;
  color:#373737;
  font-family: "Lato", sans-serif;
  border: none;
  width: 100%;
  font-size: 2em;
  border: none;
  padding-bottom: 20px;

}

.documentdatabase h3{
  text-align: center;
  background: #373737;
  color:#c0b283;
  font-family: "Lato", sans-serif;
  border: none;
margin-right: 60px;
margin-left: 60px;
  font-size: 2em;
  border: none;
  padding-bottom: 20px;
  padding-top: 20px;

}
.documentdatabase h3:hover{
  background: #f4f4f4;
  color:#c0b283;
}

.links p{
  font-family: "Lato", sans-serif;
  color: #373737;

}
.links a{
  font-family: "Lato", sans-serif;
  color: #373737;

}

.goups p{
  font-family: "Lato", sans-serif;
  color: #373737;

}
.groups a{
  font-family: "Lato", sans-serif;
  color: #373737;

}

.goups p:hover{
  font-family: "Lato", sans-serif;
  color: #373737;
  background: #dcd0c0;

}
.groups a:hover{
  font-family: "Lato", sans-serif;
  color: #373737;
background: #dcd0c0;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

@media all and (min-width:600px) {
  nav ul{
      display:none;
    }

    nav ul li{
      border-top:none;
    }

.menu-trigger {
  display: none;
}

  .header{
    display: block;
    background: #c0b283;
  }


  .mainnav{
      display: flex;
      flex-flow: row;
      justify-content: space-around;

      background: #373737;
      color: white;
    }

    .mainnav li{
      border: none;
    padding: 10px;
      font-size: 1.5em;
      background: #373737;
      color: white;

    }

    .mainnav a{
      color: white;
      background: #373737;
      width: 100%;
    }

    .mainnav a:hover {
      background:#dcd0c0;
      color: white;
      padding: 15px;
    }

    .tab-group{
        display:flex;
        flex-flow: row;
        justify-content: space-around;
        background: #dcd0c0;
      }

      .tab label{
        padding: 0 20px;
      }

      .tab label:hover ~ .tab-content{
        height:12em;
      }


.story{
  display: flex;
  flex-flow: row;
}

.wrapperindex{
  display:flex;
}

.storymissionstatement img{
  display: flex;
  width: 140;
  height: 150;
  margin-top: 60px;
  margin-left: 30px
}

.storygetinvolved img{
  display: flex;
  width: 140;
  height: 150;
  margin-top: 60px;
  margin-left: 30px
}

.storywhatis img{
  display: flex;
  width: 140;
  height: 140;
  margin-top: 80px;
  margin-left: 30px
}

.storyfounders{
  display:flex;

}

.aboutfounders img{
  display: block;
  margin: 10px;
}

.founder1 img{
  width: 135;
  height:180;
  float: left;
}

.founder2 img{
  width: 135;
  height:140;
  float: left;
}

.founder1{
  display:flex;
}

.founder2{
  display:flex;
}

.aboutdirectors {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.directors img {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 10px;
}

.directors {
  margin: 15px;
  width: 30%;
}

.director-2 img {
  width: 145px;
  height: auto;
}

.director-3 img {
  width: 185px;
  height: auto;
}

.director-6 img {
  width: 185px;
  height: auto;
}

.director-8 img {
  width: 185px;
  height: auto;
}

.advisor-1 img {
  width: 185px;
  height: auto;
}

.advisor-2 img {
  width: 185px;
  height: auto;
}

.advisor-3 img {
  width: 185px;
  height: auto;
}

.advisor-4 img {
  width: 185px;
  height: auto;
}

.advisor-5 img {
  width: 165px;
  height: auto;
}

.advisor-6 img {
  width: 185px;
  height: auto;
}

.advisor-7 img {
  width: 185px;
  height: auto;
}

.advisor-8 img {
  width: 185px;
  height: auto;
}

.advisor-9 img {
  width: 185px;
  height: auto;
}

h4 {
  margin: 0;
}

}/*end min-wide 600px*/


  @media all and (min-width:1140px) {

    header {
      width: 1026px;
      margin: 0 auto;

    }


    body {
      width: 1026px;
      margin: 0 auto;
    }


}/*end min-width 1140px*/
