body{
  margin:0;
  padding:0;
}

p{
  font-family: 'crimson text', serif;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.2em;
}

header{

  width:100%;
  margin:0;

}

a{
  text-decoration: none;
}


.mainnav{
  display: none;
  list-style-type: none;
  font-size:1.4em;
  line-height:2em;
  padding:0;
  text-align:center;
  margin: 0;
}

.mainnav li{
  /*display:none;*/
  border-bottom:1px solid black;
  font-family: 'Quattrocento', sans-serif;
}

.mainnav a{
  text-decoration: none;
  color: #373737;
  background-color: white;
  font-weight: bold;

}

nav ul li {
    display: block;

}

nav a {
    color: white;
    background-color: #373737;
    display: block;
    text-decoration: none;
    padding-left: 25px;
}


.menu-trigger {
  order: 1;
  font-size: 2em;
  width: 100%;
  padding-bottom: 5px;
}

.menu-trigger:after {
  font-family: 'Quattrocento', sans-serif;
  color: white;
  background-color: #373737;
  content: "MENU";
  font-size: .8em;
  padding: 3px;
}

.tab-group{
  display: flex;
  flex-flow:column;
  background:  #dcd0c0;

}

.tab label{
  background: #dcd0c0;
  color: #373737;
  display:block;
  font-weight: bold;
  padding-left: .5em;
  margin-bottom: .5em;
  text-align: center;
  font-family: 'Quattrocento', sans-serif;
}

.tab a{
  background: #dcd0c0;
  color: #373737;
  display:block;
  font-weight: bold;
  padding-left: .5em;
  margin-bottom: .5em;
  text-align: center;
  font-family: 'Quattrocento', sans-serif;
}

.tab input:focus + label, .tab label:checked{
  background:#dcd0c0;
}

.tab input{
  display:none;
}

.tab-content{
  height:0px;
  overflow: hidden;
  transition: height .35s ease-in-out;
}

.tab input:checked ~ .tab-content{
  height:9em;
}

.subnav{
  list-style: none;
  text-align: center;
  padding:0px;
}

.tab-content a{
  background:#dcd0c0;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  display:block;
  text-align: center;
  color: #373737;
  padding: 10px;
}

.tab-content li{
  border-top:1px solid black;
  border-bottom:1px solid black;
  background:#dcd0c0;
font-family: 'Quattrocento', sans-serif;

}


@media all and (min-width: 600px){

  nav ul{
      display:none;
    }

    nav ul li{
      border-top:none;
    }

  .menu-trigger {
  display: none;
  }

  .mainnav{
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      background: #373737;
      color: white;
    }

    .mainnav li{
      border: none;
      padding: .2rem;
      font-size: 1.3rem;
      background: #373737;
      color: white;

    }

    .mainnav a{
      color: white;
      background: #373737;
      width: 100%;
    }

    .mainnav a:hover {
      background:#dcd0c0;
      color: white;
      padding: 5px;
    }

    .tab-group{
        display:flex;
        flex-flow: row;
        justify-content: space-around;
        background: #dcd0c0;
      }

      .tab label{
        padding: 0 20px;
      }

      .tab label:hover ~ .tab-content{
        height:12em;
      }



}

@media all and (min-width:1140px) {

  header {
    display: block;
    width: 1026px;
    margin: 0 auto;

  }

  body {
    width: 1026px;
    margin: 0 auto;
  }





}/*end min-width 1140px*/
